.Sidebar {
  width: 20%;
  background-color: #253237;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #cbf3f0;
  text-align: center;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 15px 20px;
  margin: 5px 0;
  background-color: #9DB4C0;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #274C77;
  color: white;
}

.menu-item.active {
  background-color: #274C77;
  color: #fff;
}

.menu-item .plus-icon {
  margin-right: 10px;
  font-size: 1.2em;
}

.user-section {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #3a3e42;
}

.user-avatar {
  background-color: #274C77;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #fff;
  margin-right: 15px;
}

.user-name {
  font-size: 1.2em;
  color: #fff;
}
